html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}
/* Variables */
:root{
    --normal-font: 400;
    --bold-font: 900;
    --bg-color: #c1caf0;
    --primary-color: #132748;
    --secundary-color: #465d98;
    --primary-shadow: #132748;
    --secundary-shadow: #c3cfff;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    color: var(--secundary-color);
}

nav{
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0,0.1);
}

nav h1{
    color: var(--primary-color);
}

nav ul{
    display: flex;
    gap: 1.9rem;
}
nav ul li{
    font-weight: var(--bold-font);
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero-img{
    padding-top: 2%;
    height: 25.5rem;
    width: 30.5rem;
}

.bio{
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0 2px 15px 2px var(--primary-shadow);
}
.bio h2{
    margin: var(--bottom-margin);
}
.bio p{
    line-height: var(--line-height);
    padding: 0.3rem;
}
/*More about*/
.more-about{
    background-color: var(--bg-color);
    padding: 1rem 6rem;
}

.more-about h2{
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p{
    line-height: var(--line-height);
    padding: 0.4rem;
}

/*Skills section*/
.skills{
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}
.skill-header{
margin-bottom: 1rem;
}

.skills-wrapper img{
    padding: 1.25rem;
    width: 11.875rem;
    height: 11.25rem;
}


.icon-card{
    background-color: #fff;
    box-shadow: 0 3px 10px var(--secundary-color);
    border-radius: 11px;
    padding: 20px;
    margin: 10;
}


/*Projects*/
.projects{
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic{
    width: 90%;
    height: 80%;
}

.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.projects-title{
    text-align: center;
    margin-bottom: 5rem;
}

.project-container{
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p{
    padding: 0.4rem;

}
.projects-title{
    margin-bottom: var(--bottom-margin);
}

.project-details{
    margin-bottom: var(--bottom-margin);
}

.project-card{
    background-color: #fff;
    box-shadow: 0 3px 8px var(--primary-color);
    border-radius: 11px;
    padding: 20px;
    margin: 10px;
}

/*Socials*/
.socials{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 30%;
}

.sosicon{
    width: auto;
    height: auto;
    padding-top: 40px;
}


footer{
    background-color: var(--primary-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    color: #fff;
}

/*Scroll button*/
.scroll-up{
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}
.up-arrow{
    width: 3rem;
    height: 3rem;
}

/*Media queries for responsiveness*/
@media screen and (max-width: 720px){
    nav{
        padding: 1.5rem 1rem;
    }
    nav ul{
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }
    nav ul li{
        margin: 8px;
    }
    .burger-menu{
        display: block;
    }
    nav ul.show{
        transform: translateX(0);
    }
    .hero{
        margin-top: -1rem;
        flex-direction: column;
        gap: 0;
    }
    .hero img{
        height: 27.5rem;
        width: 20rem;
    }
    .bio{
        margin-top: 2rem;
        width: 20.5rem;
    }

    .more-about {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }
    .more-about h2{
        text-align: center;
    }
    .more-about p{
        text-align: justify;
    }
    .icon{
        width: 5.875rem;
        height: 5.25rem;
    }
    .projects-container{
        flex-direction: column;
    }
    .project-container{
        width: 20.875rem;
    }
}
@media screen and (max-width: 420px){
    .hero img{
        height: 17.5rem;
        width: 10rem;
    }
    .bio{
        width: 18.3rem;
    }
    .project-container{
        width: 17.875rem;
    }
}

.more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
}
.more-about h2{
    text-align: center;
}
.more-about p{
    text-align: justify;
}
.icon{
    width: 5.875rem;
    height: 5.25rem;
}
.projects-container{
    flex-direction: column;
}
.project-container{
    width: 20.875rem;
}

@media screen and (max-width: 420px){
.hero img{
    height: 17.5rem;
    width: 10rem;
}
.bio{
    width: 18.3rem;
}
.project-container{
    width: 17.875rem;
}
}